/* CONTAINS EACH INDIVIDUAL WHITE CELL */
.white {
    border: 1px solid black;
    width: 60px;
    height: 60px;
    background-color: #ebecd0;
    float: left;
}

/* CONTAINS EACH INDIVIDUAL BLACK CELL */
.black {
    border: 1px solid black;
    width: 60px;
    height: 60px;
    background-color: #739552;
    float: left;
}

/* ENSURES THE CHESSBOARD IS 8 COLUMNS LONG */
.clear {
    clear: both;
}

/* CONTAINS THE FULL CHESSBOARD */
#container {  /* ASHTON G */
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    width: 500px;
}

/* "CHESSBOARD" TITLE SECTION - ASHTON G */
#title {
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 10px;
    margin: 0px;
    width: 100%;
    background-color: lightyellow;
    text-align: center;
    z-index: 10;
    font-family: 'JustLettersMedium', serif;
    font-weight: normal;
    font-style: normal;
    font-size: 36px;
}

img {
    margin-left: 5px;
    margin-top: 10px;
}

body {
  background-color: #f0f5f9; 
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Footer styling */
.footer {
  background-color: #66b2b2; 
  padding: 20px 0;
  margin-top: 30px;
  text-align: center;
  width: 100%;
  clear: both;
}

.validators {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 10px 0;
}

.validators p {
  margin: 0;
}
